{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrapp.min.css' %}" />

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/stylee.css' %}" />
    <!-- <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/queries.css" /> -->

    <title>Students</title>
  </head>
  <body>
    <div class="content">
      <div class="container">
        {% include '_partials.html' %}
        {% if page == 'sci' %}
        <h2 class="mb-5">Science And Technolgy Members</h2>

        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Name</th>
                <th scope="col">Father Name</th>
                <th scope="col">Grade</th>
                <th scope="col">Club</th>
                <th scope="col">Project Idea</th>
                <th scope="col">Status</th>
                
              </tr>
            </thead>
            <tbody>
              {% for stu in sci %}
              <tr scope="row">
                <td>{{forloop.counter }}</td>
                <td><a href="#">{{stu.fname}}</a></td>
                <td>{{stu.mname}}</td>
                <td>{{stu.grade}}</td>
                <td>{{stu.department}}</td>
                <td>{{stu.idea}}</td>
                <td align="center" >{% if stu.accepted %} Accepted {%else%} - {%endif%}</td>
              </tr>
              {%empty%}
              <tr>
                <td colspan="5">There are no Students</td>
              </tr>

              {%endfor%}
            </tbody>
          </table>
        </div>
        {%elif page == 'com' %}
        <h2 class="mb-5">Computer club Members</h2>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Name</th>
                <th scope="col">Father Name</th>
                <th scope="col">Grade</th>
                <th scope="col">Club</th>
                <th scope="col">Project Idea</th>
                <th scope="col">Status</th>
                
              </tr>
            </thead>
            <tbody>
              {% for stu in com %}
              <tr scope="row">
                <td>{{forloop.counter }}</td>
                <td><a href="#">{{stu.fname}}</a></td>
                <td>{{stu.mname}}</td>
                <td>{{stu.grade}}</td>
                <td>{{stu.department}}</td>
                <td>{{stu.idea}}</td>
                <td align="center">{% if stu.accepted %} Accepted {%else%} - {%endif%}</td>
               
              </tr>
              {%empty%}
              <tr>
                <td colspan="5">There are no Students</td>
              </tr>

              {%endfor%}
            </tbody>
          </table>
        </div>
        {%endif%}
        <!-- <a href="{% url 'coordinator' %}" class="btn btn-outline-info ">Back</a> -->
      </div>
    </div>
    
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
