{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
    rel="icon"
    href="{% static 'img/icon-01.ico' %}"
    type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ss.css' %}" />
  </head>
  <body>
    <section id="section-newsletter" class="py-5">
      <div class="container">
        <form
          method="post"
          class="text-white"
          action="{% url 'register' %}"
          enctype="multipart/form-data"
          validate
        >
          {% csrf_token %}
          <h2 class="display-4 heading-1 text-center">Become A Member</h2>
          <p class="lead text-center">
            It's easy, just fill the following form and hit Register button
          </p>
          {% include '_partials.html' %}
          <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-6 col-md-6 col-lg-6">
              <div class="mb-3">
                <label for="fname" class="form-label heading-1"
                  >First Name *</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Name"
                  id="fname"
                  name="fname"
                  required
                />
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-6 col-md-6 col-lg-6">
              <div class="mb-3">
                <label for="mname" class="form-label heading-1"
                  >Middle Name *</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Father Name"
                  id="mname"
                  name="mname"
                  required
                />
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-6 col-md-6 col-lg-6">
              <div class="mb-3">
                <label for="lname" class="form-label heading-1"
                  >Last Name *</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Grand Father Name"
                  id="lname"
                  name="lname"
                  required
                />
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-6 col-md-6 col-lg-6">
              <div class="mb-3">
                <label for="gender" class="form-label heading-1"
                  >Gender *</label
                >
                <div class="input-group">
                  <span class="input-group-text" id="select">Options</span>
                  <select
                    class="form-select"
                    aria-label="Default select"
                    aria-describedby="select"
                    name="gender"
                    id="gender"
                    required
                  >
                    <option value="">-- Select Your Gender --</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-6 col-md-6 col-lg-6">
              <div class="mb-3">
                <label for="age" class="form-label heading-1">Age *</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Insert Your Age here"
                  id="age"
                  name="age"
                  required
                />
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-6 col-md-6 col-lg-6">
              <div class="mb-3">
                <label for="grade" class="form-label heading-1">Grade *</label>
                <div class="input-group">
                  <span class="input-group-text" id="select">Options</span>
                  <select
                    class="form-select"
                    aria-label="Default select"
                    aria-describedby="select"
                    id="grade"
                    name="grade"
                    required
                  >
                    <option value="">-- Choose your Grade --</option>
                    <option value="Grade 5">Grade 5</option>
                    <option value="Grade 6">Grade 6</option>
                    <option value="Grade 7">Grade 7</option>
                    <option value="Grade 8">Grade 8</option>
                    <option value="Grade 9">Grade 9</option>
                    <option value="Grade 10">Grade 10</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-6 col-md-6 col-lg-6">
              <div class="mb-3">
                <label for="dept" class="form-label heading-1"
                  >Department *</label
                >
                <div class="input-group">
                  <span class="input-group-text" id="select">Options</span>
                  <select
                    class="form-select"
                    aria-label="Default select"
                    aria-describedby="select"
                    name="dept"
                    id="dept"
                    required
                  >
                    <option value="">-- Select Department --</option>
                    <option value="Science and Technolgy">Science and technology</option>
                    
                    
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-6 col-md-6 col-lg-6">
              <div class="mb-3">
                <label for="idea" class="form-label heading-1"
                  >የፈጠራ ስራ ለመስራት ያቀዳቹት *</label
                >
                <textarea
                  rows="3"
                  id="idea"
                  cols="20"
                  class="form-control"
                  name="idea"
                >Enter ideas here...
               </textarea
                >
              </div>
            </div>
          </div>

          <div class="d-grid col-3 mb-2 mx-auto">
            <button type="submit" class="btn btnn-link">Register</button>
          </div>
          <div class="d-grid col-2 mb-2 mx-auto">
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
          </div>
          <!-- <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Register</button>
        </div> -->
        </form>
      </div>
    </section>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#section-"]', {
        offset: 56,
      });
    </script>
  </body>
</html>
